.webview-menu-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: #fff;
    padding: 4px;
    border-radius: 12px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    border: 1px solid #f0f0f0;
    user-select: none;
    font-size: 15px;
    max-width: 650px;
    pointer-events: auto;
}

.webview-menu-row {
    display: flex;
    align-items: stretch;
    gap: 8px;
}

.webview-menu-output-actions {
    display: flex;
    align-items: stretch;
    gap: 3px;
}

.webview-menu-divider {
    width: 1px;
    background: #f0f0f0;
}

.webview-menu-wrapper button {
    pointer-events: auto;
    appearance: none;
    padding: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: none;
    color: #333;
    font-size: 17px;
    font-weight: 500;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
}

.webview-menu-wrapper button:hover {
    background: #f0f0f0;
}

.webview-menu-wrapper button:active {
    background: #e0e0e0;
}

.webview-menu-btn-primary {
    color: #fd1bdf !important;
}

.webview-menu-transform-actions {
    display: flex;
    flex-direction: column;
}

.webview-menu-transform-actions button {
    justify-content: space-between;
    width: 100%;
    opacity: 0.75;
    font-size: 15px !important;
}

.webview-menu-transform-actions button:hover {
    opacity: 1;
}

.webview-menu-drag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    cursor: grab;
    pointer-events: auto;
}

.webview-menu-wrapper form {
    display: flex;
    align-items: center;
    gap: 8px;
}

.webview-menu-wrapper input {
    padding: 8px;
    border: 1px solid #f0f0f0;
    background: #ebebeb;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    pointer-events: auto;
    min-width: 350px;
}

.webview-menu-wrapper input:focus {
    outline: none;
    border-color: #fd1bdf;
}

.webview-menu-output {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    color: #333;
    background: #f0f0f0;
    padding: 12px;
    border-radius: 8px;
    user-select: text;
}

  .webview-menu-wrapper [data-tooltip] {
    position: relative;

    --tooltip-arrow-size: 6px;
    --tooltip-background-color: rgba(0, 0, 0, 0.95);
    --tooltip-border-radius: 8px;
    --tooltip-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25);
    --tooltip-font-family: inherit;
    --tooltip-font-size: 14px;
    --tooltip-font-weight: 400;
    --tooltip-line-height: 1.25rem;
    --tooltip-color: #fff;
    --tooltip-offset-y: 0px;
    --tooltip-padding: 5px 7px;
    --tooltip-z-index: 100000;
    --tooltip-delay: 0.5s;
  }
  
  .webview-menu-wrapper [data-tooltip]:before,
  .webview-menu-wrapper [data-tooltip]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease-out var(--tooltip-delay);
    transform: translate(-50%, 5px)
  }
  
  .webview-menu-wrapper [data-tooltip]:before {
    position: absolute;
    z-index: var(--tooltip-z-index);
    bottom: 100%;
    left: 50%;
    margin-bottom: calc(var(--tooltip-offset-y) + var(--tooltip-arrow-size));
    padding: var(--tooltip-padding);
    width: max-content;
    min-width: 70px;
    max-width: 250px;
    border-radius: var(--tooltip-border-radius);
    background-color: var(--tooltip-background-color);
    color: var(--tooltip-color);
    content: attr(data-tooltip);
    text-align: center;
    font-size: var(--tooltip-font-size);
    font-weight: var(--tooltip-font-weight);
    line-height: var(--tooltip-line-height);
    transition: opacity .2s ease-out var(--tooltip-delay);
  }
  
  .webview-menu-wrapper [data-tooltip]:after {
    position: absolute;
    bottom: 100%;
    margin-bottom: var(--tooltip-offset-y);
    left: 50%;
    width: 0;
    border-top: var(--tooltip-arrow-size) solid var(--tooltip-background-color);
    border-right: var(--tooltip-arrow-size) solid transparent;
    border-left: var(--tooltip-arrow-size) solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }
  
  .webview-menu-wrapper [data-tooltip]:hover:before,
  .webview-menu-wrapper [data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0)
  }
  .webview-menu-wrapper [data-tooltip=false]:hover:before,
  .webview-menu-wrapper [data-tooltip=false]:hover:after {
    visibility: hidden;
    opacity: 0;
  }

  deta-annotation.deta-annotation-highlight {
    background-color: #ffcee4;
    cursor: pointer;
  }

  deta-annotation.deta-annotation-highlight.deta-annotion-glow {
    background-color: #ff95c5;
  }