@property --custom-easing {
  syntax: '<custom-ident>';
  inherits: false;
  initial-value: custom-ease;
}

@keyframes custom-ease {
  0%,
  100% {
    --custom-easing: custom-ease;
  }
}

@property --progress {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

@keyframes progress {
  to {
    --progress: 1;
  }
}

:root {
  --custom-timing-630: linear(
    0 0%,
    0.003502 1%,
    0.013341 2%,
    0.028589 3%,
    0.048407 4%,
    0.072039 5%,
    0.098804 6%,
    0.128094 7.000000000000001%,
    0.159366 8%,
    0.192137 9%,
    0.225979 10%,
    0.260514 11%,
    0.295414 12%,
    0.330388 13%,
    0.36519 14.000000000000002%,
    0.399603 15%,
    0.433445 16%,
    0.466563 17%,
    0.498828 18%,
    0.530137 19%,
    0.560403 20%,
    0.589564 21%,
    0.617568 22%,
    0.644382 23%,
    0.669985 24%,
    0.694365 25%,
    0.717522 26%,
    0.739465 27%,
    0.760207 28.000000000000004%,
    0.779771 28.999999999999996%,
    0.798182 30%,
    0.815472 31%,
    0.831674 32%,
    0.846826 33%,
    0.860966 34%,
    0.874136 35%,
    0.886377 36%,
    0.897731 37%,
    0.908242 38%,
    0.917953 39%,
    0.926905 40%,
    0.93514 41%,
    0.9427 42%,
    0.949625 43%,
    0.955953 44%,
    0.961722 45%,
    0.96697 46%,
    0.97173 47%,
    0.976037 48%,
    0.979922 49%,
    0.983417 50%,
    0.98655 51%,
    0.98935 52%,
    0.991842 53%,
    0.994051 54%,
    0.996001 55.00000000000001%,
    0.997713 56.00000000000001%,
    0.999208 56.99999999999999%,
    1.000506 57.99999999999999%,
    1.001624 59%,
    1.002578 60%,
    1.003386 61%,
    1.00406 62%,
    1.004615 63%,
    1.005063 64%,
    1.005416 65%,
    1.005684 66%,
    1.005876 67%,
    1.006002 68%,
    1.00607 69%,
    1.006088 70%,
    1.006061 71%,
    1.005996 72%,
    1.0059 73%,
    1.005776 74%,
    1.005629 75%,
    1.005464 76%,
    1.005284 77%,
    1.005092 78%,
    1.004892 79%,
    1.004685 80%,
    1.004474 81%,
    1.004262 82%,
    1.004049 83%,
    1.003837 84%,
    1.003628 85%,
    1.003422 86%,
    1.003221 87%,
    1.003026 88%,
    1.002836 89%,
    1.002653 90%,
    1.002476 91%,
    1.002306 92%,
    1.002144 93%,
    1.001989 94%,
    1.001842 95%,
    1.001702 96%,
    1.001569 97%,
    1.001444 98%,
    1.001326 99%,
    1.001214 100%
  );

  --custom-timing-650: linear(
    0 0%,
    0.003444 1%,
    0.013167 2%,
    0.028314 3%,
    0.0481 4%,
    0.071807 5%,
    0.098782 6%,
    0.128431 7.000000000000001%,
    0.160219 8%,
    0.193662 9%,
    0.228325 10%,
    0.263823 11%,
    0.299811 12%,
    0.335984 13%,
    0.372075 14.000000000000002%,
    0.407853 15%,
    0.443115 16%,
    0.477688 17%,
    0.511427 18%,
    0.544209 19%,
    0.575934 20%,
    0.606521 21%,
    0.635908 22%,
    0.664047 23%,
    0.690907 24%,
    0.716467 25%,
    0.740718 26%,
    0.763663 27%,
    0.785311 28.000000000000004%,
    0.805679 28.999999999999996%,
    0.824792 30%,
    0.842679 31%,
    0.859374 32%,
    0.874913 33%,
    0.889339 34%,
    0.902694 35%,
    0.915023 36%,
    0.926372 37%,
    0.936788 38%,
    0.946319 39%,
    0.955011 40%,
    0.962911 41%,
    0.970067 42%,
    0.976524 43%,
    0.982325 44%,
    0.987516 45%,
    0.992136 46%,
    0.996229 47%,
    0.999831 48%,
    1.002981 49%,
    1.005714 50%,
    1.008064 51%,
    1.010064 52%,
    1.011745 53%,
    1.013135 54%,
    1.014261 55.00000000000001%,
    1.01515 56.00000000000001%,
    1.015824 56.99999999999999%,
    1.016307 57.99999999999999%,
    1.01662 59%,
    1.016781 60%,
    1.016808 61%,
    1.016719 62%,
    1.016529 63%,
    1.016251 64%,
    1.015899 65%,
    1.015484 66%,
    1.015017 67%,
    1.014507 68%,
    1.013964 69%,
    1.013396 70%,
    1.012808 71%,
    1.012209 72%,
    1.011602 73%,
    1.010994 74%,
    1.010388 75%,
    1.009789 76%,
    1.009199 77%,
    1.008621 78%,
    1.008058 79%,
    1.007512 80%,
    1.006984 81%,
    1.006475 82%,
    1.005987 83%,
    1.00552 84%,
    1.005074 85%,
    1.004651 86%,
    1.004249 87%,
    1.003869 88%,
    1.003512 89%,
    1.003175 90%,
    1.00286 91%,
    1.002564 92%,
    1.002289 93%,
    1.002033 94%,
    1.001796 95%,
    1.001576 96%,
    1.001374 97%,
    1.001187 98%,
    1.001016 99%,
    1.00086 100%
  );
}
