.drawer-root {
  --color-text: #0c081a;
  --color-text-muted: #110f18a2;
  --color-menu: #000000;
  --color-menu-muted: #868686;
  --color-link: rgb(4, 84, 255);
  --color-link-muted: rgb(61, 123, 255);
  --background: #fff;
  --background-menu: #f6f6f6;
  --background-menu-muted: #dedede;
}
